    <div class="container">
        <h1 class="text-center">{{Zodiac.name}} Characteristics</h1>
    </div>
    <br><br>
    <div class="container well span6">
        <div class="row" id="ZodiacContent">
            <div class="col-md-4">
                <img src="/images//{{Zodiac.imagePath}}" class="img-circle">
            </div>

            <div class="col-md-8">
                <h3>{{Zodiac.name}}</h3>
                <h4>Strengths: <small>{{Zodiac.strengths}}</small></h4>
                <h4>Weaknesses: <small>{{Zodiac.weaknesses}}</small></h4>
                <h4>Likes: <small>{{Zodiac.likes}}</small></h4>
                <h4>Dislikes: <small>{{Zodiac.display}}</small></h4>
                <h4><small>{{Zodiac.description}}.</small></h4>
            </div>
        </div>
    </div>